:root {
    --papyrus: rgb(243, 235, 220);
    --leafy: rgb(11, 109, 11);
}

@media only screen and (min-width: 1200px) {
    #resume {
        width: 900px !important;
        border-left: 8px solid black;
        border-right: 8px solid black;
    }

    #generalinfobox {
        transform: translate(-25%) !important;
    }
}

body {
  margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: pink;
    position: relative;

}

#showeditbtn {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    font-size: 3rem;
    padding: 0px 15px 0px 15px;
    margin: 10px;
    background-color: rgba(75, 75, 75, 0.287);
    backdrop-filter: blur(0px);
    border: none;
    color: black;
    transition: all 0.4s;
}

#showeditbtn:hover {
    color: white;
    backdrop-filter: blur(10px);
    background-color: rgba(75, 75, 75, 0.644);
}

#inputsbox {
    display: none;
    grid-template-columns: auto auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(11, 109, 11, 0.644);
    backdrop-filter: blur(5px);
    padding: 15px;
    color: white;
}

#inputsbox.shown {
    display: grid;
}

#inputsbox>h2 {
    grid-column: span 2;
    text-align: center;
    color: black;
}


#generalinputs {
    display: flex;
    flex-direction: column;
}

#editinputs {
    display: flex;
    flex-direction: column;
}

#resume {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% auto;
    background-color: pink;
    position: relative;
    overflow: hidden;

}

#plant {
    position: absolute;
    height: 400px;
    bottom: -60px;
    right: -60px;
    filter: opacity(0.5);
}

#general {
    grid-column: span 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    background-color: transparent;
}

#general:after {
    content: "";
    background: black;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 15px;
    width: 100%;
    transform: translateY(50%);
    z-index: 1;
}

#generalinfobox {
    transform: translate(-50%);
}

#generalinfobox>h2 {    
    font-size: 3.2rem;
    margin-bottom: 5px;
}

#generalinfobox>span#phonedisplay {
    font-size: 2rem;
    color: var(--leafy);
}

#generalinfobox>span {
    font-size: 1.3rem;
    margin: 0 10px 0 0;
}

#iconbox {
    position: absolute;
    background-color: white;
    height: 200%;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    left: 0;
    top: 0;
    transform: translate(-20%, -20%);
    border: 20px solid black;
    overflow: hidden;
    z-index: 2;
}

#iconbox>img {
    height: 120%;
    transform: translate(-5%, 10%);

}

#education {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}   

#education:after {
    content: "";
    background: black;
    position: absolute;
    top: 0;
    right: 0;
    height: 90%;
    width: 15px;
    border-radius: 15px;
    transform: translateX(50%);
    z-index: 1;
}

#education>h1 {
    color: var(--leafy);
    position: absolute;
    font-size: 4rem;
    transform-origin: top left;
    bottom: 0;
    left: 0;
    margin: 0;
    transform: rotate(-90deg) translate(-10%, 40px);
}

.educationitem {
    margin: 0 0 40px 11rem;
}

.educationitem h2, .experienceitem h2 {
    margin: 15px 0 5px 0; 
    font-size: 2rem;
    font-style: italic;
}

.educationitem div, .experienceitem div {
    font-size: 1.5rem;
}


.educationitem>*:not(button), .experienceitem>*:not(button) {
    pointer-events: none;
}

.educationitem>button, .experienceitem>button {
    display: none;
}

#experience {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-end;
}

#experience>h1 {
    color: var(--leafy);
    position: absolute;
    font-size: 4rem;
    transform-origin: top right;
    top: 0;
    right: 0;
    margin: 0;
    transform: rotate(90deg) translate(110%, 40px);
}

.experienceitem {
    margin: 1rem 11rem 0 0;
    text-align: end;
}


h1, h2, h3 {
    margin: 0;
}